# INCHANGE
venv/
data/
.env
kaggle.json
outputs/
checkpoints/
__pycache__/
*.zip
*.pth
.vscode/
.DS_Store
Thumbs.db

# NOUVEAU Phase 2
logs/              # logs d'entraînement
mlruns/            # runs MLflow
*.log              # fichiers log
runs/              # tensorboard si utilisé