# INCHANGE
venv/
data/
.env
kaggle.json
outputs/
checkpoints/
__pycache__/
*.zip
*.pth
.vscode/
.DS_Store
Thumbs.db

# NOUVEAU Phase 2
# logs d'entraînement
logs/
# runs MLflow
mlruns/
# fichiers log
*.log
# tensorboard si utilisé
runs/