# INCHANGE
torch
torchvision
scikit-learn
pandas
matplotlib
seaborn
pillow
numpy
kaggle
python-dotenv
jupyter
ipykernel

# NOUVEAU Phase 2
albumentations       # remplace torchvision transforms
torchmetrics         # F1, AUROC, Dice, IoU
mlflow               # experiment tracking
pytest               # tests unitaires